    {{> head }}
    {{> navbar }}

   <div class="row">
       <div class="col-8">
           <h1>Uzumaki Naruto</h1>
           <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aliquam, eius?</p>
       </div>

       <div class="col-4">
           <img src="assets/img/naruto.jpg" class = "img-thumbnail">
       </div>
   </div>

    {{> footer}}